<div class="cart-main-area ptb--100 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table id="lista-carrito" class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Productos</th>
                                    <th class="product-name">Nombre del Producto</th>
                                    <th class="product-price">Precio</th>
                                    <th class="product-quantity">Cantidad</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Eliminar</th>
                                </tr>
                            </thead>

                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="buttons-cart--inner">
                                <div class="buttons-cart">
                                    <a href="">Continuar Comprando</a>
                                </div>
                                <div class="buttons-cart checkout--btn">
                                    <a href="#">Refrescar</a>
                                    <a href="./checkout">checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 smt-40 xmt-40">
                            <div class="htc__cart__total">
                                <h6>Total Compra</h6>
                                <div class="cart__desk__list">
                                    <ul class="cart__desc">
                                        <li>Total</li>
                                        <li>Iva.</li>
                                        <li>Envío</li>
                                    </ul>
                                    <ul class="cart__price">
                                        <li>$90900</li>
                                        <li>$9000</li>
                                        <li>$0</li>
                                    </ul>
                                </div>
                                <div class="cart__total">
                                    <span>Total Orden</span>
                                    <span>$91800</span>
                                </div>
                                <ul class="payment__btn">
                                    <li class="active"><a href="#">Pagar</a></li>
                                    <li><a href="#">continuar Comprando</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>